.publications-section .card .photo {
  height: 200px;
  object-fit: cover;
}
.publications-section .card .text-wrap {
  padding: 30px;
  flex: auto;
}

/*------------------------------------------------media-------------------------------------------------*/
@media (min-width: 1440px) {
  .publications-section .card .typical-link {
    transition: 0.2s linear all;
  }
  .publications-section .card:hover .typical-link {
    color: var(--accent-color);
  }
}